---
interface Props {
	titulo: string;
	tipo?: string;
	url?: string;
	target?: string;
	left_icon?: string;
	right_icon?: string;
}

let { titulo, tipo, url, target, left_icon, right_icon } = Astro.props;

switch (tipo) {
	case "submit":
		tipo = "submit";
		break;
	case "link":
		tipo = "link";
		break;
	default:
		tipo = "";
		break;
}

if (!url) {
	url = "#";
}

if (target === "_blank") {
	target = "target='_blank'";
} else {
	target = "";
}
---

{
	tipo === "submit" && (
		<button type="submit" class="button button--cta">
			{left_icon ? <i class={left_icon} /> : ""}
			{titulo}
			{right_icon ? <i class={right_icon} /> : ""}
		</button>
	)
}
{
	(tipo === "link" || tipo === "") && (
		<a href={url} class="button button--cta" {target}>
			{left_icon ? <i class={left_icon} /> : ""}
			{titulo}
			{right_icon ? <i class={right_icon} /> : ""}
		</a>
	)
}

<style lang="scss" is:global>
	.button {
		padding: 1rem 1.5rem;
		font-size: 1.33rem;
		border-radius: 10px;
		background-color: var(--color-primary);
		color: white;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		text-decoration: none;
		width: fit-content;

		i {
			margin-left: 0.5rem;
		}
	}
</style>
