---
interface Props {
	titulo: string;
	descripcion: string;
	live_url?: string;
	imagen: string;
	imagen_background: string;
	reverse: string;
}

const { titulo, descripcion, live_url, imagen, imagen_background, reverse } =
	Astro.props;

import "../styles/abstracts/_variables.scss";
import "../styles/abstracts/mixins/_utils.scss";

import Button from "./Button.astro";

let class_content = "";
if (reverse === "true") {
	class_content = "card__content card__content--reverse ";
} else {
	class_content = "card__content";
}
---

<div class="card">
	<div class={class_content}>
		<div class="card__content--info">
			<h3 class="card__titulo">{titulo}</h3>
			<p class="card__descripcion">
				{descripcion}
			</p>
			<Button
				titulo="Ver Más"
				right_icon="fa-solid fa-arrow-right"
				target="_blank"
				url={live_url}
			/>
		</div>
		<div class="card__content--imagen">
			<img class="card__imagen--background" src={imagen_background} />
			<img class="card__imagen--front" src={imagen} />
		</div>
	</div>
</div>

<style lang="scss">
	.card {
		color: black;
		background-color: white;
		padding: 2rem;
		border-radius: 15px;

		&__titulo {
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		&__descripcion {
			font-size: 1.25rem;
			margin-bottom: 2rem;
		}

		&__content {
			display: flex;
			flex-direction: row;
			flex-basis: 1;
			gap: 2rem;

			&--info {
				width: calc(50% - 1rem);
			}
			&--imagen {
				position: relative;
				width: calc(50% - 1rem);
				display: grid;
				place-content: center;
			}

			&--reverse {
				flex-direction: row-reverse;
			}
		}

		&__imagen {
			&--background {
				position: absolute;
				display: block;
				height: 100%;
				z-index: 1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.1);
				opacity: 0.5;
			}

			&--front {
				position: relative;
				z-index: 2;
				margin: auto 0;
			}
		}
	}

	@media (max-width: 1024px) {
		.card {
			&__content {
				flex-direction: column-reverse;

				&--info {
					width: 100%;
				}
				&--imagen {
					width: 100%;
				}
				&--reverse {
					flex-direction: column-reverse;
				}
			}
		}
	}
</style>
